@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

@mixin body-font {
  font-family: "Open Sans";
}

@mixin heading-font {
  font-family: "Montserrat";
}

@import "~bootstrap/scss/bootstrap.scss";

//

// Cosmo 4.1.3
// Bootswatch

//
// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #2780e3 !default;
$indigo: #6610f2 !default;
$purple: #613d7c !default;
$pink: #e83e8c !default;
$red: #ff0039 !default;
$orange: #f0ad4e !default;
$yellow: #ff7518 !default;
$green: #3fb618 !default;
$teal: #20c997 !default;
$cyan: #9954bb !default;

$primary: $blue !default;
$secondary: $gray-800 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// Options

$enable-rounded: false !default;

// Body

$body-color: $gray-800 !default;

// Fonts

$font-family-sans-serif: serif-font !default;

$font-size-base: 0.9375rem !default;

body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
}

a:hover {
  color: darken($primary, 10%);
}

section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  @include heading-font;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

$headings-font-weight: 300 !default;

// Navbar

$navbar-dark-hover-color: rgba($white, 1) !default;

$navbar-light-hover-color: rgba($black, 0.9) !default;

// Alerts

$alert-border-width: 0 !default;

// Progress bars

$progress-height: 0.5rem !default;

//

// Components
@import "./hero/hero.scss";
@import "./header/header.scss";
@import "./mainmenu/mainmenu.scss";
@import "./team/team.scss";
@import "./contact/contact.scss";
@import "./footer/footer.scss";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

// Headroom
.headroom--scrolled {
  background-color: $white;
  border-bottom: 1px solid rgba($black, 0.25);
}

// About
#about .rounded-circle {
  border: $light solid 5px;
}
